/* Sélectionne tous les éléments de la page et réinitialise les styles */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-image: url("media/MacBook\ Pro\ 16_\ -\ 3.png");
      background-size: cover;
      background-repeat: no-repeat;
}


/* Style du titre */
h1 {
      background-image: linear-gradient(#FFA903, #D34C00);
      border-radius: 3em;
      color: white;
      font-size: 2em;
      text-align: center;
      margin: 1rem 0;

}

/* Style du label pour le menu déroulant */
label {
      display: block;

}

/* Style du menu déroulant */
select {
      background-color: #d7e7fe;
      display: block;
      margin: 50px auto;
      padding: 0.5em;
      font-size: 1em;
      border-radius: 0.5em;
      border: 1px solid #ccc;
      width: 100%;
      max-width: 20em;
      margin-top: 5em;
      margin-bottom: 1em;
}

select {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-weight: bold;

}


/* Style du button*/

.button {
      text-align: center;
      margin-top: 5%;
      padding: 2%;

}

.button input {
      background-image: linear-gradient(#FFA903, #D34C00);
      color: #FFFFFF;
      border: none;
      padding: 1em 2em;
      font-size: 1rem;
      border-radius: 10px;
      font-family: "Press Start 2P", sans-serif;

}





/* Style du conteneur de la console */
.console {
      background-image: linear-gradient(#FAFF00, #226900);
      border-radius: 2em;
      padding: 1em;
      margin: 2em 0;
}

/* Style des messages de la console */
.console p {
      margin: 0.5em 0;

}

/* Style du corps de la page */
body {
      font-family: Arial, sans-serif;
      max-width: 50em;
      margin: 0 auto;
      padding: 1em;
}